html{
	scroll-behavior: smooth;
    
}
html,
body {
	height: 100%;
    overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #81868e;
    letter-spacing: 1px;
}

/*Ссылки*/
a{
    text-decoration: none;
    color: #fff;
}

/*Кнопки*/
button{
    padding: 0;
    cursor: pointer;
}
.btn{
    max-width: 140px;
    width: 100%;
    background: inherit;
    height: 35px;
    color: #333b46;
    padding: 10px 20px;
    line-height: 12px;
    font-size: 16px;
    border: 1px solid #333b46;
    border-radius: 20px;
    transition: all .5s;
    &:hover{
        color: #19bd9a;
        border-color: #19bd9a;
    }
}
.icon-btn{
    padding: 0;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background-color: #81868e;
    transition: .5s;
    &:hover{
        background-color: #19bd9a;
    }
    .active{
        background-color: #19bd9a;
    }
}


/*Заголовки*/
.block-title{
    max-width: 465px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
	padding-top: 80px;
}
.title{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #59616b;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 40px;
}



.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
    padding-top: 80px;
	flex: 0 0 auto;
    background-color: #cfcfcf;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 350px;
    transition: 0.7s;
    &__logo{
        margin: 0 auto 25px;
        filter: invert(0%) sepia(6%) saturate(25%) hue-rotate(224deg) brightness(107%) contrast(107%);
    }
    &__copyright{
        color: #000;
        font-size: 14px;
        line-height: 25px;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 35px;
    }
    &__sci{
        padding: 0 15px;
        position: relative;
        display: flex;
        li {
            &::before{
                content: attr(data-text);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, calc(-50% + 50px));
                font-size: 30px;
                font-weight: 700;
                transition: 0.5s;
                color: #000;
                pointer-events: none;
                opacity: 0;
            }
            &:hover::before{
                opacity: 0.15;
                transform: translate(-50%, calc(-50% - 70px));  
            }
            a{
                position: relative;
                display: inline-block;
                width: 60px;
                height: 60px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: #333;
                border-radius: 50px;
                margin: 0 15px;
                font-size: 25px;
                transform-style: preserve-3d;
                perspective: 300px;
                box-shadow: 0 25px 35px rgba(0, 0, 0, .2);
                transition: background 0.5s;
                
            }
            .fa{
                transition: 0.5s;
                pointer-events: none;
            }
            a:hover{
                .fa{
                    color: #fff;
                    transform: scale(1) translateZ(30px);
                } 
            }
        }
    }
    .js-tilt-glare{
        border-radius: 50px;
    }
    
    &__facebook:hover{
        background: #1877f2;
    }
    &__twitter:hover{
        background: #1da1f2;
    }
    &__linkedin:hover{
        background: #01496d;
    }
    &__instagram:hover{
        background: linear-gradient(65deg, rgba(102,41,207,1) 0%, rgba(192,50,160,1) 37%, rgba(233,179,107,1) 87%);
    }
    &__vimeo:hover{
        background: #f05a7a;
    }
    
}

.container{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid{
	max-width: 100%;
  	margin: 0 auto;
}






